In [1]:
import numpy as np
import pandas as pd

In [76]:
def get_rating_matrix(filename, dtype=np.float32):
    df = pd.read_csv(filename)
    row = df.source.unique()
    column = df.target.unique()
    result = pd.DataFrame(df.rating, index = row,columns = column)

    return result

df = get_rating_matrix("movie_rating.csv")
df

,Lady in the Water,Snakes on a Plane,You Me and Dupree,Superman Returns,The Night Listener,Just My Luck
Jack Matthews,NaN,NaN,NaN,NaN,NaN,NaN
Mick LaSalle,NaN,NaN,NaN,NaN,NaN,NaN
Claudia Puig,NaN,NaN,NaN,NaN,NaN,NaN
Lisa Rose,NaN,NaN,NaN,NaN,NaN,NaN
Toby,NaN,NaN,NaN,NaN,NaN,NaN
Gene Seymour,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
def get_frequent_matrix(filename, dtype=np.float32):
    pass