In [3]:
from pandas import Series, DataFrame
import pandas as pd
import numpy as np

In [4]:
list_data = [1,2,3,4,5]
example_obj = Series(data = list_data)
example_obj

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [11]:
list_data = [1,2,3,4,5]
list_name = ["a",'b','c','d','e']
example_obj = Series(data = list_data, index=list_name)
example_obj

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [12]:
example_obj.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [13]:
example_obj.values

array([1, 2, 3, 4, 5])

In [14]:
type(example_obj.values)

numpy.ndarray

In [15]:
dict_data = {"a":1,'b':2,'c':3,'d':4,'e':5}
example_obj = Series(dict_data, dtype=np.float32, name='example_data')
example_obj

a    1.0
b    2.0
c    3.0
d    4.0
e    5.0
Name: example_data, dtype: float32

In [16]:
example_obj['a']

1.0

In [17]:
example_obj[example_obj >2 ]

c    3.0
d    4.0
e    5.0
Name: example_data, dtype: float32

In [18]:
example_obj * 2

a     2.0
b     4.0
c     6.0
d     8.0
e    10.0
Name: example_data, dtype: float32

In [19]:
np.exp(example_obj)

a      2.718282
b      7.389056
c     20.085537
d     54.598148
e    148.413162
Name: example_data, dtype: float32